@import url('https://fonts.googleapis.com/css?family=Neucha');

.enquete{
height: 60%;
width: 80%;
border-radius: 15px;
box-shadow:  2px 2px 10px #888888;
background-color: rgba(230,230,230,0.5);
border: 1px solid black;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.enquete .container{
    top:23%;
    position: absolute;
    height: 50%;
    margin: 0.5em;
    font-size: 20px;
    font-family:"Neucha";
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
    list-style-type: none;
}

.row{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.col-md-12{
    height: 70px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #888888;
    border-radius:15px;
    margin-bottom: 1em;
    padding: 1em;
}
.col-md-12 img{
    padding: 0;
    width: 20px;
}

.col-md-12 p{
    position:absolute;
    right:5%;
    bottom: 0%;
}
.nome{
    position: relative;
    left: 20px;

}
.col-md-12 span{
    position: absolute;
    left:  2em;
}

